<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-camera-info"
    version="1.0.0">
    <name>Camera Info</name>
    <description>Camera Info Plugin</description>

    <js-module src="./www/CameraInfo.js" name="CameraInfo">
        <clobbers target="cordova.plugins.cameraInfo" />
    </js-module>

    <!-- windows -->
    <platform name="windows">
        <js-module src="src/windows/CameraInfoProxy.js" name="CameraInfoProxy">
            <runs />
        </js-module>
    </platform>

    <!-- android -->
    <platform name="android">

    </platform>

    <!-- ios -->
    <platform name="ios">

    </platform>
</plugin>
